<table class="table">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">FirstName</th>
			<th scope="col">LastName</th>
			<th scope="col">DateOfBirth</th>
			<th scope="col">Sex</th>
			<th scope="col">Address</th>
			<th scope="col">Email</th>
			<th scope="col">Phone</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let staff of listStaff">
			<td>{{staff.id}}</td>
			<td>{{staff.firstname}}</td>
			<td>{{staff.lastname}}</td>
			<td>{{staff.dateofbirth | date:'yyyy-MM-dd'}}</td>
			<td>
				<div *ngIf="staff.sex==1; then male; else female">
				</div>
				<ng-template #male>Male</ng-template>
				<ng-template #female>Female</ng-template>
			</td>
			<td>{{staff.address}}</td>
			<td>{{staff.email}}</td>
			<td>{{staff.phone}}</td>
		</tr>
	</tbody>
</table>