<table class="table">
	<thead>
		<tr>
			<th scope="col">id</th>
			<th scope="col">firstname</th>
			<th scope="col">lastname</th>
			<th scope="col">dateofbirth</th>
			<th scope="col">sex</th>
			<th scope="col">address</th>
			<th scope="col">email</th>
			<th scope="col">phone</th>
			<th scope="col">hiredate</th>
			<th scope="col">contractdate</th>
			<th scope="col">leaveddate</th>
			<th scope="col">nonbrcexp</th>
			<th scope="col">brcexp</th>
			<th scope="col">departmentid</th>
			<th scope="col">positionid</th>
			<th scope="col">graduateschool</th>
			<th scope="col">imagelink</th>
			<th scope="col">createdate</th>
			<th scope="col">createid</th>
			<th scope="col">updatedate</th>
			<th scope="col">companyemail</th>
			<th scope="col">personalid</th>
			<th scope="col">pidprovicedate</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{staff.id}}</td>
			<td>{{staff.firstname}}</td>
			<td>{{staff.lastname}}</td>
			<td>{{staff.dateofbirth}}</td>
			<td>{{staff.sex}}</td>
			<td>{{staff.address}}</td>
			<td>{{staff.email}}</td>
			<td>{{staff.phone}}</td>
			<td>{{staff.hiredate}}</td>
			<td>{{staff.contractdate}}</td>
			<td>{{staff.leaveddate}}</td>
			<td>{{staff.nonbrcexp}}</td>
			<td>{{staff.brcexp}}</td>
			<td>{{staff.departmentid}}</td>
			<td>{{staff.positionid}}</td>
			<td>{{staff.graduateschool}}</td>
			<td>{{staff.imagelink}}</td>
			<td>{{staff.createdate}}</td>
			<td>{{staff.createid}}</td>
			<td>{{staff.updatedate}}</td>
			<td>{{staff.companyemail}}</td>
			<td>{{staff.personalid}}</td>
			<td>{{staff.pidprovicedate}}</td>
		</tr>
	</tbody>
</table>