.item {
  height: 330px;
  max-height: 330px;
  text-align: center;
}

.item:hover {
  cursor: pointer;
  box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, .05);
  -webkit-transform: translateY(-.0625rem);
  transform: translateY(-.0625rem);
  z-index: 1
}

.image-item {
  height: 200px;
  text-align: center;
  max-width: 90%;
}

.product-name {
  height: 36px;
}

.btn-buy {
  width: 76.31px;
}

.product-text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  height: inherit;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}