.item {
  display: inline-block;
  height: 330px;
  max-height: 330px;
  text-align: center;
  max-width: 23%;
  background-color: #faf5f5;
}
.image-item {
  height: 200px;
  text-align: center;
  max-width: 90%;
}
.content-item{
	height: 72px;
}
.btn-buy{
	width: 76.31px;
}
.content-name{
	height: 48px;
}